<form #formPreguntas="ngForm" (ngSubmit)="confirmar(formPreguntas)"
  class="card border-warning shadwon mx-auto my-auto p-3">
  <legend class="text-center">
    <h2>Nivel {{nivel+1}} : {{categorias[nivel]|uppercase}}</h2>
  </legend>
  
  <div class="mb-3 text-center">
    <h5>{{pregunta}}</h5>
  </div>

  <div class="form-check" *ngFor="let respuesta of respuestas; let i = index">
    <input class="form-check-input" type="radio" name="respuesta" [id]="'respuesta' + (i + 1)" [value]="respuesta"
      aria-label="..." #formControl (click)="onClickEvent($event)"
      [checked]="idCheckSelected ==='respuesta' + (i + 1)" />
    <label class="form-check-label" [for]="'respuesta' + (i + 1)">
      {{ respuesta }}
    </label>
  </div>

  <div class="d-grid gap-2 mt-4 col-10 col-lg-8 mx-auto">
    <button class="btn btn-danger" type="button" (click)="salir()">SALIR DEL JUEGO</button>
    <button class="btn btn-warning" [hidden]="btnConfirm">CONFIRMAR RESPUESTA</button>
  </div>

  <div class="mt-5 d-flex flex-row-reverse bd-highlight">
    <p class="card border-light p-2">Puntuación Acomulada: {{puntuacion}}</p>
  </div>

</form>